################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build*
/obj*
*.vcxproj*
*.log


## ignoring the files from the visual studio CMake auto compile feature
/development/.vs/*
## ignoring the CMakeSettings.json for remote linux development feature in VS2019
*.json

#ignore any doxygen related tempfiles
*.doxytag

#ignore linux backup files
*~
/.vs
