div.image img[src="TopView.png"]{
	width:50%;
}

div.image img[src="TornadoDesign.png"]{ 
	width:40%;
}

div.image img[src="PlackettBurman.png"]{ 
	width:40%;
}

div.image img[src="PlackettBurmanMirror.png"]{ 
	width:40%;
}

div.image img[src="BoxBehnkenDesign.png"]{ 
	width:40%;
}

div.image img[src="FullFactorialDesign.png"]{ 
	width:40%;
}

div.image img[src="SpaceFillingDesign.png"]{
	width:40%;
}

div.image img[src="Curve1DRange.png"]{
	width:60%;
}

div.image img[src="MapRange0.png"]{
	width:30%;
}

div.image img[src="MapRange1.png"]{
	width:30%;
}

div.image img[src="MapRange2.png"]{
	width:30%;
}
div.image img[src="MapRange3.png"]{
	width:30%;
}



