;InversionTable;
[BasementProperty]
SimpleParameter StartValue EndValue StepValue
"TopCrustHeatProd" 1 1 1
"FixedCrustThickness" 10000 10000 1000
[End]

;InversionTable;
[CrustalThinningProperty]
SimpleParameter StartValue EndValue StepValue
"InitialCrustalThinningTime" 200 200 50
"CrustalThinningDuration" 50 50 10
"InitialCrustalThinningThickness" 30000 35000 5000
"CrustalThinningRatio" 0.5 0.5 1
[End]

;InversionTable;
[RuntimeConfiguration]
ProjectTemplatePath OutputDirectory OutputFileName
"./Project.project3d" "./TEST_FOLDER/" "Output.project3d"
[End]

;InversionTable;
[DatadrillerProperty]
RetrievedVariable SnapshotTime PositionX PositionY PositionBegZ PositionEndZ StepZ
"Temperature" 0.0 460001 6750001 0 1000 100
"Pressure" 0.0 460001 6750001 0 1000 100
[End]
